<%- include('partials/header') %>
<body>

<div class="row easel">
    <div class="row side-menu">
        <div class="col">
            <div class="row return">
                <button
                onclick="window.location.href='/user-page'">
                return    
                </button>
            </div>
            <div class="tool-box">
                <p>Colors</p>
                <div class="colors">
                    <button class="red" onclick="changeColor('#FF6B7D')" aria-label="Red color"></button>
                    <button class="yellow" onclick="changeColor('#F3FF6B')" aria-label="Yellow color"></button>
                    <button class="blue" onclick="changeColor('#6B83FF')" aria-label="Blue color"></button>
                    <button class="black" onclick="changeColor('#000000')" aria-label="Black color"></button>
                </div>
                <p>Brush sizes</p>
                <div class="sizes">
                    <button class="small" onclick="changeSize(1)" arial-label="Small brush"></button>
                    <button class="medium" onclick="changeSize(3)" aria-label="Medium brush"></button>
                    <button class="big" onclick="changeSize(5)" arial-label="Big brush"></button>
                    <button class="huge" onclick="changeSize(8)" aria-label="Huge brush"></button>

                </div>
                <p>Erase</p>
                <div class="eraser">
                    <button class="erase" onclick="changeColor('#ffffff')" aria-label="eraser"></button>
                    <button class="erase-all" id="eraseAll" aria-label="new easel" ></button>
                </div>

            </div>
            <!-- <div class="col utilities">
                <button>Save</button>
                <button>Download</button>
            </div> -->
        </div>
        
    </div>
    <div class="work-area">
        <canvas id="canvas" width="500" height="500" aria-label="This is your drawing space">
        <script type="module" src="/js/canvas.js"></script>
        </canvas>
    </div>


   
</div>
</body>

<script  src="/js/canvas.js">
    
</script>

