<%- include('partials/header') %>
<%- include('partials/nav') %>
<body>
    <div class="banner">
        <img src="/img/bunnyPaint.svg" alt="">
        <h1>Easel Share</h1>
    </div>

    <div class="banner two">
        <h2>Learn, Paint and Share!</h2>
    </div>
</body>
<%- include('partials/footer') %>