<%- include('partials/header') %>
<%- include('partials/nav') %>
<body>
    <div class="banner">
        <img src="/img/bunnyPaint.svg" alt="">
        <h1>Learn, <br>Paint <br>and <br>Share!</h1>
    </div>
    <div class="row">
        <hr>
        <hr>
        <hr>
    </div>


    <div class="banner two">
        <h2>An online platform to host your art classes!</h2>
    </div>
</body>
<%- include('partials/footer') %>