<%- include('partials/header') %>
<%- include('partials/nav') %>
<body>
    

<div class="user-banner">
    <div clas="user-profile">
        <img src="" alt="user profile picture">
    </div>
</div>

<div class="user-gallery">


</div>
</body>

<%- include('partials/footer') %>