<%- include('partials/header') %>
<%- include('partials/nav') %>
<body>
    

<div class="bannerUser">
    <div class="user-profile">
        <img src="/img/profilePic.svg" alt="user profile picture">
    </div>
</div>
<h2 style="text-align:center; margin-top: 5rem">MJ WHO</h2>

<div class="user-gallery">


</div>
</body>

<%- include('partials/footer') %>